<h1> Battle! </h1>
<h2>
  <%= @game.player1.name %> attacked <%= @game.player2.name %> </h2>
  Succesful attack! (-10HP Ouch!)
  <br>
  <%= @game.player2.name %>: <%= @game.player2.hp %>HP
  Snoopy, your turn!
</h2>