<h1>  <%= @game.player1.name %> VS <%= @game.player2.name %> </h1>
<h2>  <%= @game.player2.name %>: 60HP </h2>

<h3> <%= @game.player1.name %>, your turn! </h3>

<form method="get" action="/attack">
  <label for="attack">
    <input type="submit" value="Attack" />
  </label>
</form>